form {
    width: 50%;
    justify-content: center;
    align-items: center;
    margin: 15vh 15vw !important;
    background-color: rgba(128, 128, 128, 0.061);
    padding: 2rem;
}
/* Style inputs with type="text", select elements and textareas */
.form-group {
  width: 100%; /* Full width */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}
.form-label {
    padding: .5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px;
}
input[type=submit] {
    float: right;
    border-radius: 100%;
    border-color: lightblue;
    background-color: white;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    font-size: 18px;
    font-weight: thick;
    font-weight: 500;
}
input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    border: 3px solid lightblue;
}
input[type=text]:focus{
    border: 3px solid blue;
} input[type=submit]:hover {
    border: 3px solid blue;
    outline: none;
    font-weight: bolder;
}
a:hover {
    background-color: blue;
    transition: .5s ease-out;
}

a {
    background-color: cornflowerblue;
    border: none;
    color: white;
    padding: 12px 20px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
}